
all_feedback_models.m
baseline_comparison_june5.pdf
baseline_comparison_nofb2.pdf
examples_nofb2.pdf
examples_with_fb2_june5.pdf
Figure5_model_panels copy.ai
Figure_5_replaced_panel_d.ai
high_baseline_examples_june5.pdf
high_baseline_examples_nofb2.pdf
high_baseline_ss_values_june5.pdf
high_baseline_ss_values_nofb2.pdf
model_panels_june19.ai
model_panels_june5.pdf
steady_state_values_fb_june5.pdf
steady_state_values_fb_nofb2.pdf
supplemental_figure_model_without_fb2n.pdf
